*{
    color: white;
    background-color: black;
    
}
body{
    padding: 20px;
    width: 1000px;
    margin: auto;
    font-size: larger;
    flex-direction: column;
}
.imageFCC img{
    padding-left: 50px;
    margin: auto;
}
.paragraph2{
    column-count: 2;
    line-height: 20px;
        
}
h4{
    color: rgb(12, 162, 255);
    font-size: x-large;
}
.blue_para{
    color: rgb(12, 162, 255);
    font-size: x-large;
    text-align: center;
    word-spacing: 2px;
    padding-left: 70px;
}
h1{
    color: rgb(252, 85, 13);
    font-size: 70px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.sidehead{
    color: rgb(252, 85, 13);
    font-size: 30px;
    text-align: center;
    
}
.s_icons{
    word-spacing: 20px; 
}
.s_icons a{
    text-decoration: none;
    font-size: 30px;
    padding: 0;
}
.imp_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.imp_line .s_icons{
    float: inline-end;
}
.date_by{
    font-size: x-large;

}
.para1::first-letter{
    font-size: 70px;
    display: block;
    float: left;
    line-height: 0.5;
    margin: 15px 15px 10px 0;
    color: rgb(255, 85, 0);
}
.image-1, .image-2, .image-3{
    padding: 10px;
}
.paragraph{
    line-height: 25px;
    letter-spacing: .5px;
    word-spacing: 2px;
    text-align: justify;
    column-count: 3;
}
.paragraph p{
    font-size:x-large;
    color: rgb(29, 162, 244);
    text-align: center;
    
}
.combine{
   column-count: 2;
    display: inline-table;
}
.heading{
    color: rgb(252, 85, 13);
    font-size: 70px;
}
.pdate{
    opacity: 0.50;
}